.loader {
    /* margin: 0 0 2em; */
    height: auto;
    width: auto;
    text-align: center;
    /* padding: 1em; */
    /* margin: 0 auto 1em; */
    /* display: inline-block; */
    vertical-align: top;
}

/*
    Set the color of the icon
  */
/* svg path,
svg rect {
    fill: #ff6700;
} */
